version: "3.7"

services:
  appservice:
    container_name: jiltsa
    build: .
    image: aplicationservice:v1
    restart: unless-stopped
    ports:
      - "8080:8080"
    expose:
      - 8080
    environment:
      - SPRING_DATASOURCE_URL=${JLTS_DATASOURCE_URL}
      - SPRING_DATASOURCE_USERNAME=${JLTS_DATASOURCE_USERNAME}
      - SPRING_DATASOURCE_PASSWORD=${JLTS_DATASOURCE_PASSWORD}
      - SPRING_PROFILES_ACTIVE=dev
